<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Fundamentals (Need)</span></div>

# What to expect in this chapter

# 1 Functions

In [22]:
print('Hello World')

Hello World

# 2 Python is interpreted

In [23]:
print('Hello World')
print('Hello World again')

Hello World
Hello World again

# 3 Python is sensitive.

In [24]:
print('Hello World')
Print('Hello World')

Hello World

NameError: name 'Print' is not defined

# 4 Comments

In [25]:
# print('Hello World')
# code not ran as marked as comment
# use comments intelligently: Purpose, significance of constants/choice of variables

# 5 = is not the same as ==

In [26]:
name = 'Batman'
print(name)

Batman

In [27]:
name == 'Batman'

True

In [28]:
name == 'Robin'

False

# 6 Use if to make decisions

In [31]:
name = 'Batman'
#name = 'Robin'

if name == 'Batman':
    print('Hello Batman')
else:
    print('Who are you?')

Hello Batman

# 7 Indentations (spaces) are sooo IMPORTANT!

In [33]:
x=10
print(x)

10

In [41]:
x=10
    print(x)

IndentationError: unexpected indent (186375093.py, line 2)

In [43]:
if (name == 'Batman') {         # code invalid as is tried to be interpreted as python
  print('Hello Hero | Batman!')
} else {
  print('Hello World!')
}

SyntaxError: invalid syntax (3552276907.py, line 1)

# 8 ‘age’ is English, age is a variable.

In [44]:
print(age)

NameError: name 'age' is not defined

In [72]:
print('age')

age

In [74]:
age=10
print(age)

10

In [76]:
print('You're twenty years old.'') # single quotation mark in text mixed up as syntax for the string

SyntaxError: invalid syntax. Perhaps you forgot a comma? (259731508.py, line 1)

# 9 Brackets

In [77]:
type([1,2,3]) # square

list

In [83]:
py_list = [1, 2, 3, 4, 5]   # A 1D list

py_list_2 = [               # A 2D list
                [1, "A"],      
                [2, "B"],
                [3, "C"],
                [4, "D"],
                [5, "E"]
            ]
print(py_list,py_list_2)

[1, 2, 3, 4, 5] [[1, 'A'], [2, 'B'], [3, 'C'], [4, 'D'], [5, 'E']]

In [39]:
type((1,2,3)) # normal

tuple

In [40]:
type({1,2,3}) # curly

set

In [91]:
personal_info = {
    'Names': 'Batman',
    'Real Name': 'Bruce Wayne',
    'Age': 55,
    'Affiliation': 'Justice League',
    'Universe': 'DC'
}
print(personal_info)
print(personal_info['Real Name']) # inner is square
                                  # vs. set is that dict. has key: value

{'Names': 'Batman', 'Real Name': 'Bruce Wayne', 'Age': 55, 'Affiliation': 'Justice League', 'Universe': 'DC'}
Bruce Wayne

# 10 Giving Python superpowers with Packages

## 10.1 Some Context

$$
\dfrac{1 \times ((2 - 3) + 4)^5}{6}
$$

In [70]:
1 * ((2 - 3) + 4) ** 5 / 6

40.5

In [71]:
sqrt(4)

NameError: name 'sqrt' is not defined

## 10.2 Importing the math package

In [50]:
import math
math.sqrt(4)
# only need to import once in a session, at the top

2.0

## 10.3 Importing the numpy package

In [49]:
import numpy
numpy.sqrt(4)

np.float64(2.0)

## 10.4 Why so many packages?

In [53]:
math.sqrt([1,2,3,4,5,6,7,8,9]) # math only works on single elements

TypeError: must be real number, not list

In [52]:
numpy.sqrt([1,2,3,4,5,6,7,8,9]) # numpy can work with lists

array([1.        , 1.41421356, 1.73205081, 2.        , 2.23606798,
       2.44948974, 2.64575131, 2.82842712, 3.        ])

In [59]:
%%timeit
math.sqrt(123456789) # faster, more optimised (?)

212 ns ± 21.8 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [55]:
%%timeit
numpy.sqrt(123456789)

3.98 μs ± 457 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

# 11 The dot (.)

In [56]:
# dot represents ownership
math.sqrt(4) # sqrt that belongs to the package 'math'

2.0

In [58]:
import numpy as np # creating alias
np.sqrt(4)

np.float64(2.0)

In [60]:
'I am Batman'.split() # use tab to see list of functions

['I', 'am', 'Batman']

In [68]:
1234.split() # 1234 is a number, needs to be a phrase with spaces in between

SyntaxError: invalid decimal literal (3260848656.py, line 1)

In [63]:
'hahahaha'.replace('ha','xa')

'xaxaxaxa'

In [67]:
'hahahaha'.replace('ha','xa').replace('a','y') # works because 1st replace outputs 
                                               # a word/string that acts as the input 
                                               # for the next replace()

'xyxyxyxy'

In [97]:
x=str(1234)
x < 'Apple' # when number is saved as string, can now compare with other strings?

True

## Footnotes